<div>
<!-- 匹配内容 -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-8176866190626448"
     data-ad-slot="6443696990"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center;">
<p style="font-size:17px"><a href="https://www.lijiaocn.com/2010/10/10/about.html">作者微信（一般不闲聊）</a></p>
<img src="https://www.lijiaocn.com/img/class.jpg"></img>
</div>

<!-- Page_Bottom -->
<!--div>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8176866190626448"
     data-ad-slot="7945072540"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div-->
