<div style="text-align:center">
    <h2><a href="https://www.lijiaocn.com/note/" style="color:#afa790">小鸟笔记（主页）</a></h2>
    <p style="font-weight:bold"><a style="color:lightgray;" href="https://www.lijiaocn.com">www.lijiaocn.com，影响一万人</a></p>
</div>

<div style="text-align:center">
    <a href="/prog/" style="color:#afa790;font-weight:bold">编程</a>&nbsp;
    <a href="/soft/" style="color:#afa790;font-weight:bold">软件</a>&nbsp;
    <a href="/oper/" style="color:#afa790;font-weight:bold">运营</a>&nbsp;
    <a href="/book/" style="color:#afa790;font-weight:bold">读书</a>&nbsp;
    <a href="/note/" style="color:#afa790;font-weight:bold">其它</a>
</div>
<div>
<br>
<ul class="summary"><li>
<a style="color:red" target="_blank" href="https://study.163.com/provider/400000000376006/course.htm?share=2&shareId=400000000376006">云课堂·视频讲解（点我了解）</a>
</li></ul>
</div>

<!--div style="text-align:center">
< 250x250 >
<ins class="adsbygoogle"
     style="display:inline-block;width:250px;height:250px"
     data-ad-client="ca-pub-8176866190626448"
     data-ad-slot="9490087185"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div-->
